<div class="addcourse">
    <div class="HostC">Host a Course</div>
    <div class="CourseI">Course Information</div>
    <hr>
  <form id="add_course_form">
      <div class="grid-container">
          <div class="grid-item1">
            <label for="CourseT">Course Title:</label><br>
            <input type="text" id="CourseT" name="title"><br>
          </div>
          <div class="grid-item2">
            <label for="Category">Category:</label><br>
            <input type="text" id="Category" name="category"><br>
          </div>
          <div class="grid-item4">
            <label for="Date">Date:</label><br>
            <input type="date" id="Date" name="date"><br>
          </div>
          <div class="grid-item5">
            <label for="StartT">Start Time:</label><br>
            <input type="text" id="StartT" name="timeStart"><br>
          </div>
          <div class="grid-item6">
            <label for="EndT">End Time:</label><br>
            <input type="text" id="EndT" name="timeEnd"><br>
          </div>
          <div class="grid-item7">
            <label for="Price">Price:</label><br>
            <input type="number" id="Price" name="price"><br>
          </div>
            <div class="grid-item8">
            <label for="Quota">Quota:</label><br>
            <input type="number" id="Quota" name="quota"><br>
          </div>
          <div class="grid-item9">
            <div>Choose the age range:</div><br>
            
            <input type="checkbox" id="Age1" name="Age" value="kids">
            <label for="Age1"> Kids (0-12)</label>
            <input type="checkbox" id="Age2" name="Age" value="junior">
            <label for="Age2"> Junior (13-17)</label>
            <input type="checkbox" id="Age3" name="Age" value="adults">
            <label for="Age3"> Adults (18-65)</label>
            <input type="checkbox" id="Age4" name="Age" value="senior">
            <label for="Age4"> Senior (65+)</label>
         
          </div>
       
         

      </div>

      <div class="CourseD">Course Detail</div>
      <hr>
      <div class="col-12 CourseD2">
          <label for="AboutC">About the Course:</label><br>
            <textarea type="text" id="AboutC" name="AboutC"></textarea><br>
            <label for="SpecN">Special Note:</label><br>
            <textarea type="text" id="SpecN" name="SpecN"></textarea><br>
      </div>
      <hr>
      <div class="col-sm-9 CourseIm2">
        
          {{!-- <label for="Banner">Banner:</label><br>
            <input type="file" id="Banner" name="Banner"><br>
            <label for="Pic1">Picture 1:</label><br>
            <input type="file" id="Pic1" name="Pic1"><br>
            <label for="Pic2">Picture 2:</label><br>
            <input type="file" id="Pic2" name="Pic2"><br>
            <label for="Pic3">Picture 3:</label><br>
            <input type="file" id="Pic3" name="Pic3"><br> --}}

      </div>

      <input type="submit" class="btn btn-warning btn6" value="Submit">
  </form>
</div>




