{{!-- 3 buttons --}}

<section id='section1'>
    <p id='shop_id'>{{shop_id}}</p>
        <div class='stats container d-flex justify-content-between'>
            
            <a href='/edit_shop_info' class='nostyle stat col-lg-5 d-flex flex-column justify-content-center align-items-center'>
                <div>
                    <img class='companyLogo' src='company_icon.jpeg'>
                    <p id='company_name'>Your Company Name</p>
                </div>
            </a>
            
            <div class='stat col-lg-5 d-flex flex-column justify-content-center align-items-center'>
                <p>Listing Course</p>
                <h1 id='listing_course_num'>0</h1>
            </div>
        </div>
    </section>

{{!-- Courses Table --}}
    <section id='section2'>
        <div class='host container'>
            <a href='/add_course' id='addCourseBtn'><button class='newbtn'><i class="fas fa-plus"></i> &nbsp;&nbsp;NEW COURSE</button></a>
            
            <div class='table_container'>
                <table class='host_table'>
                    <col style="width:45%">
                    <col style="width:18%">
                    <col style="width:18%">
                    <col style="width:18%">
                    <thead>
                        <tr class='header'>
                            <th>Course Name</th>
                            <th>Date</th>
                            <th>Quota</th>
                            <th>Functions</th>
                        </tr>
                    </thead>
                    <tbody id='tbody'>

                    </tbody>
                </table>
                
            </div>
        <div id='courses'></div>
        <p style='color:red' id='delete_msg'></p>
        </div>

    </section>