<form class="form2" id="edit_shop" >
        <div class="container2">
            <div class="edit_shop_title">Edit My Account</div>
            <div id="edit_shop_form">
                {{!-- content at shop_frontend.js --}}      
            </div>      
        </div>
</form>

<p id='success_editshop_msg'></p>

