<div class="editcourse">
    <div class="HostC">Edit your Course</div>
    <div class="CourseI">Course Information</div>
    <hr>
  <form id="edit_course_form">
      
  </form>
<p id='success_edit_msg'></p>
</div>