    <section id='section1'>
    </section>

    <section id='section2'>
        <div class='bookinglist container'>
            <h4>Booking List</h4>
            <br>
            <h3 id='course_title_booking'></h3>
    
            <div class='table_container'>
                <table class='booking_list_table' id="list_booking_table">                    
                </table>
            </div>
        </div>

    </section>
