:root {
  --color1: #40bab3;
  --color2: #030e4c;
  --color3: #ffd335;
  --color4: #cd0000;
  --color5: #297373;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: var(--color2);
}

.bookinglist {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.table_container {
  border-radius: 15px;
  border: 2px solid var(--color5);
  width: 100%;
}

.booking_list_table {
  width: 100%;
  border-spacing: 0;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}

.booking_list_table thead tr {
  height: 45px;
}

.booking_list_table tbody tr {
  height: 40px;
}

thead tr th:first-child {
  border-radius: 13px 0px 0px 0px;
  text-align: center;
}

thead tr th:nth-child(6) {
  border-radius: 0px 13px 0px 0px;
}

.booking_list_table tbody tr:last-child td:first-child {
  border-radius: 0px 0px 0px 13px;
}

.booking_list_table tbody tr:last-child td:nth-child(6) {
  border-radius: 0px 0px 13px 0px;
}

.booking_list_table .header {
  background-color: rgba(64, 186, 179, 0.5);
}

.booking_list_table tbody tr:nth-child(odd) {
  background-color: white;
}

.booking_list_table tbody tr:nth-child(even) {
  background-color: #ebebeb;
}

.avatar {
  height: 80px;
  width: 80px;
}
