:root {
    --color1: #40bab3;
    --color2: #030e4c;
    --color3: #ffd335;
    --color4: #cd0000;
    --color5: #297373;
}

body {
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: var(--color2);
}

.courseinfo_h4 {
    font-size: 34px;
}

.courseinfo_i {
    color: var(--color1);
    font-size: 24px;
    text-align: center;
}


/* ===================================
Nav path
====================================== */

#nav_path {
    margin: 50px 0 10px 140px;
}


/* ===================================
Banner slider
====================================== */

.carousel-inner {
    width: 80% !important;
    /* height: 500px !important; */
    height: 80vh;
    margin: auto auto;
}

.carousel-item {
    margin: auto auto;
}

.carousel-item img {
    max-width: 100%
}

.pre_button,
.next_button {
    background-color: transparent;
    border-color: transparent;
}

#bannerSlider i {
    font-size: 40px;
    color: var(--color2);
}


/* ===================================
left side info
====================================== */

.course_head {
    margin: 10px 0 10px 0;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.fav_icon {
    font-size: 30px;
}

.fa-heart {
    color: var(--color2);
}

.agerange_icon,
.quota_icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.course_feature {
    margin: 0 20px 0 20px;
}

.course_feature .row {
    border-top: 1px solid #cecece;
    padding: 20px 0 20px 0;
}

.course_about_text,
.course_specialnote {
    padding: 20px;
}

.course_specialnote span {
    letter-spacing: 1.5px;
}

.course_feature .col-lg-6 {
    display: flex;
    justify-content: center;
}

.course_feature i {
    margin-right: 10px;
}

.course_specialnote_title {
    display: flex;
    justify-content: left;
}

.course_specialnote {
    border-top: 1px solid #cecece;
}

.course_specialnote i {
    margin-right: 10px;
}

.course_specialnote_text {
    padding: 20px;
}


/* ===================================
Right card 
====================================== */

.courseInfo_container {
    margin: 20px 0;
    border: 3px solid var(--color1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.courseInfo_title {
    text-align: start;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-decoration-line: underline;
    padding: 10px 0 10px 0;
}

.courseInfo_content {
    margin: 0 auto;
}

.courseInfo_content td {
    padding: 8px 40px 8px 40px;
}

.icon_col i {
    margin-left: 25px;
}

.booknow {
    background: var(--color3);
    border-radius: 25px;
    width: 300px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.unbook {
    background: var(--color5);
    color: white;
    border-radius: 25px;
    width: 300px;
    margin: 30px auto;
    display: none;
}

.unbook:hover {
    content: "UNBOOK";
}

.favCourse,
.unfavCourse {
    cursor: pointer;
}

.favCourse {
    color: var(--color4);
    display: none;
}