:root {
    --color1: #40bab3;
    --color2: #030e4c;
    --color3: #ffd335;
    --color4: #cd0000;
    --color5: #297373;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: var(--color2);
}

.stats {
    width: 80%;
    text-align: center;
    margin-top: 100px;
}

.stats .stat {
    height: 150px;
    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 0px 6px var(--color5);
}

.stats .companyLogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px 0px 10px 0px;
}

.host {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.host .newbtn {
    background-color: var(--color3);
    font-size: 12px;
    border-radius: 25px;
    width: 130px;
    height: 40px;
    border: none;
    margin-bottom: 30px;
}

.host .newbtn:hover {
    background-color: white;
    border: 1px solid var(--color3);
}

.table_container {
    border-radius: 15px;
    border: 2px solid var(--color5);
    width: 100%;
}

.host_table {
    width: 100%;
    border-spacing: 0;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.host_table thead tr {
    height: 45px;
}

.host_table tbody tr {
    height: 40px;
}

.host_table thead tr th:first-child {
    border-radius: 13px 0px 0px 0px;
}

.host_table thead tr th:nth-child(4) {
    border-radius: 0px 13px 0px 0px;
}

.host_table tbody tr:last-child td:first-child {
    border-radius: 0px 0px 0px 13px;
}

.host_table tbody tr:last-child td:nth-child(4) {
    border-radius: 0px 0px 13px 0px;
}

.host_table tbody tr td:first-child {
    text-align: start;
    padding-left: 20px;
}

.host_table .edit,
.host_table .delete,
.host_table .pic,
.host_table .title_text {
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

.host_table .edit i,
.host_table .delete i,
.host_table .pic,
.host_table .title_text {
    color: var(--color2);
}

.host_table .edit:hover,
.host_table .delete:hover,
.host_table .pic:hover,
.host_table .title_text:hover {
    background-color: var(--color3);
    border-radius: 50px;
    transition: 0.3s;
}

.footer {
    min-height: 35vh;
    background-color: var(--color1);
    color: white;
    padding: 20px;
}

.host_table .header {
    background-color: rgba(64, 186, 179, 0.5);
}

.host_table tbody tr:nth-child(odd) {
    background-color: white;
}

.host_table tbody tr:nth-child(even) {
    background-color: #ebebeb;
}

.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

#shop_id {
    display: none;
}