/*login*/
:root {
  --color1: #40bab3;
  --color2: #030e4c;
  --color3: #ffd335;
  --color4: #cd0000;
  --color5: #297373;
}

.login_card {
  border-color: white;
  font-size: 20px;
  margin: 100px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card2 {
  border: 2px solid var(--color1);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.signin {
  background-color: var(--color1);
  padding: 20px;
  color: white;
  align-items: center;
  text-align: center;
  border-top-left-radius: 27px;
}

.card2 #Uname {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  background-color: #dfdfdf;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 3%;
  font-size: 16px;
  height: 38px;
}

.card2 #Pword {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  background-color: #dfdfdf;
  border-radius: 30px;
  font-size: 16px;
  padding-left: 20px;
  /* padding-right: 60px; */
  padding-right: 3%;
  height: 38px;
}

.forgotp {
  font-size: 12px;
  padding-left: 120px;
}

.card1_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 40px;
}

.joinc .btn1 {
  background-color: var(--color1);
  width: 60%;
  margin-top: 50px;
  border-radius: 20px;
}

.hostc .btn2 {
  background-color: var(--color1);
  width: 60%;
  margin-top: 30px;
  border-radius: 20px;
}

.joinc {
  text-align: center;
}

.hostc {
  text-align: center;
}

.joinc .btn1:hover {
  background-color: var(--color3);
}

.hostc .btn2:hover {
  background-color: var(--color3);
}

.btnsignin .btn3 {
  align-items: center;
  width: 40%;
  margin-top: 40px;
  margin-left: 32%;
  margin-bottom: 40px;
  border-radius: 20px;
  font-size: 12px;
  background-color: var(--color3);
}

.btnsignin .btn3:hover {
  background-color: white;
  border: 1px solid var(--color3);
}

.card3 {
  background-color: var(--color2);
  /* border-radius: 5px; */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.create {
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
  color: white;
  align-items: center;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #030e4c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #030e4c;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:before + .slider:before {
  background-color: #030e4c;
}

input:checked + .slider {
  background-color: #030e4c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #030e4c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.login_error {
  text-align: center;
}
