@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

/* ====== General Info ====== */

:root {
    --color1: #f9f6ed;
    --color2: #221f20;
    --color3: #42c1c6;
    --color4: #788985;
}

* {
    font-family: "Barlow", sans-serif;
}

body {
    background-color: grey;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}

h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.display {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.page {
    /* width of iphoneX */
    width: 375px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* /header/ */

#header {
    width: 327px;
    margin-top: 20px;
}

#header .left {
    color: var(--color3);
}

#header .left mark {
    color: var(--color3);
    background-color: transparent;
    font-size: 18px;
    font-weight: 800;
}

#header .dropdown button {
    position: relative;
    width: 115px;
    height: 32px;
    font-size: 14px;
    background: transparent;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    border: 0;
    border-radius: 25px;
    color: rgba(66, 193, 198, 0.75);
    border: 1px solid rgba(66, 193, 198, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: start;
}

#dot-container {
    width: 116px;
    display: flex;
    justify-content: space-between;
    margin: 12px auto;
}

#dot-container .dot {
    height: 8px;
    width: 8px;
    background-color: rgba(120, 137, 133, 0.5);
    border: none;
    border-radius: 50%;
    display: inline-block;
}

#dot-container .dot.active {
    background-color: var(--color3);
}


/* step */


/* Hide all steps at first  */

.step {
    display: none;
}

.main-body-container {
    width: 327px;
    height: 488px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 6px 2px rgba(120, 137, 133, 0.2);
    overflow: hidden;
    margin-top: 8px;
}


/* q-buttons */

#q-box__buttons {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin: 1.5em 0;
}

button#prev-btn {
    position: relative;
    width: 104px;
    height: 28px;
    background: transparent;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    border: 0;
    border-radius: 25px;
    color: rgba(66, 193, 198, 0.75);
    border: 1px solid rgba(66, 193, 198, 0.75);
    font-size: 14px;
}

button#next-btn,
button#submit-btn {
    position: relative;
    width: 104px;
    height: 28px;
    background: rgba(66, 193, 198, 0.75);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 25px;
    font-size: 14px;
}


/* page1 */

.main-body-container .section-title {
    text-align: center;
    margin: 15px 0;
}

.main-body-container .section-content {
    min-height: 402px;
    width: 294px;
    position: relative;
}

.question__label {
    font-weight: 600;
    font-size: 16px;
}

select:focus,
select:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    border: none;
}

select.question__input,
input.question__input {
    border-radius: 25px;
    height: 34px;
    border: none;
    background-color: rgba(120, 137, 133, 0.1);
    padding-left: 10px;
}

.check-now-btn,
.partly-checked-btn,
.completed-btn {
    height: 40px;
    width: 147px;
    color: white;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(120, 137, 133, 0.2);
    font-size: 16px;
    margin: 10px;
    /* border: 1px solid red; */
}

.check-now-btn {
    background-color: var(--color3)
}

.partly-checked-btn {
    background-color: rgba(66, 193, 198, 0.75);
    /* for display to be removed */
    transform: translateY(40px);
}

.completed-btn {
    background-color: rgba(120, 137, 133, 0.5);
    /* for display to be removed */
    transform: translateY(80px);
}

.completed-btn i {
    color: rgba(120, 137, 133, 0.5);
    font-size: 14px;
    margin-top: 4px;
}

.section-content .tick-container {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 5px;
}

#section1 .q-box__question {
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section1 .time-input,
#section1 .temp-input {
    width: 126px;
}

#section1 .date-input {
    width: 145px;
}

#section2 .plant-image {
    position: absolute;
    transform: scale(0.9);
    left: -90px;
    top: -30px;
}

#section2 .check-now-btn,
#section2 .partly-checked-btn,
#section2 .completed-btn {
    position: absolute;
    top: 290px;
    right: -26px;
}

#section3 .plant-image {
    position: absolute;
    transform: scale(0.9);
    left: -80px;
    top: -30px;
}

#section3 .check-now-btn,
#section3 .partly-checked-btn,
#section3 .completed-btn {
    position: absolute;
    top: 280px;
    right: -26px;
}

#section4 .plant-image {
    position: absolute;
    transform: scale(0.85);
    left: -50px;
    top: 30px;
}

#section4 .check-now-btn,
#section4 .partly-checked-btn,
#section4 .completed-btn {
    position: absolute;
    top: 150px;
    right: -26px;
}

#section5 .plant-image {
    position: absolute;
    transform: scale(0.68);
    left: -90px;
    top: -120px;
}

#section5 .check-now-btn,
#section5 .partly-checked-btn,
#section5 .completed-btn {
    position: absolute;
    top: 175px;
    right: -26px;
}

#section6 .plant-image {
    position: absolute;
    transform: scale(0.33);
    left: -455px;
    top: -110px;
}

#section6 .check-now-btn,
#section6 .partly-checked-btn,
#section6 .completed-btn {
    position: absolute;
    top: 20px;
    right: -26px;
}

#section7 p {
    margin-top: 5px;
    margin-bottom: 10px;
}

#section7 textarea {
    width: 100%;
    height: 378px;
    border: 1px solid rgba(120, 137, 133, 0.2);
    border-radius: 15px;
    padding: 5px 10px;
    resize: none;
}