<div class='main-body-container d-flex flex-column justify-content-center align-items-center'>
    <button id="start-log-btn" type="button" ><a href='/modal-form' class='nostyle'>Start My Farm Log</a></button>
    <button id="upload-btn" type="button"><a href='/upload' class='nostyle'>Upload Image of a Plant</a></button>
</div>
<div style='height: 100px;'></div>
