@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
/* ====== General Info ====== */
:root {
  --color1: #f9f6ed;
  --color2: #221f20;
  --color3: #42c1c6;
  --color4: #788985;
}
body {
  background: var(--colo1);
  font-family: "Barlow", sans-serif;
  color: var(--colo2);
  /* width of iphoneX */
  width: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color2);
}

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

label {
  margin-bottom: 5px;
}

/* vvvvvvvvvvv DID NOT EDIT vvvvvvvvvvv */
/* FORMS */

#qbox-container {
  background: url(../img/corona.png);
  background-repeat: repeat;
  position: relative;
  padding: 62px;
  min-height: 630px;
  box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -webkit-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
}

#steps-container {
  margin: auto;
  width: 500px;
  min-height: 420px;
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.step {
  display: none;
}

.step h4 {
  margin: 0 0 26px 0;
  padding: 0;
  position: relative;
  font-weight: 500;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.6;
}

button#prev-btn,
button#next-btn,
button#submit-btn {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  width: 130px;
  height: 50px;
  background: #dc3545;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s;
  text-align: center;
  color: #fff;
  border: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button#prev-btn:after,
button#next-btn:after,
button#submit-btn:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cc0616;
  content: "";
  z-index: -2;
  transition: transform 0.3s;
}

button#prev-btn:hover::after,
button#next-btn:hover::after,
button#submit-btn:hover::after {
  transform: translateY(-80%);
  transition: transform 0.3s;
}

.progress {
  border-radius: 0px !important;
}

#success {
  display: none;
}

#success h4 {
  color: #dc3545;
}

.back-link {
  font-weight: 700;
  color: #dc3545;
  text-decoration: none;
  font-size: 18px;
}

.back-link:hover {
  color: #82000a;
}
/* ^^^^^^^^ DID NOT EDIT ^^^^^^^^ */

/* Modal */
.modal-dialog,
.modal-content {
  width: 327px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.modal-dialog {
  top: 149px;
  margin: 0 auto;
}

/* "X" Button */
.modal-close {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px 0 0;
}

.closebtn {
  border: none;
  background-color: transparent;
}

.closebtn i {
  color: var(--color4);
  font-size: 25px;
}

/* Header */
.modalheader {
  text-align: center;
}

/* label */
.question_label {
  height: 140px;
  width: 140px;
  border-radius: 16px;
  background-color: #f5f5f5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  text-align: center;
}

.question_label .fa-check {
  font-size: 50px;
  color: var(--color4);
}

.question_label .fa-times {
  font-size: 67px;
  color: var(--color4);
}

.input_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question_input:checked + .question_label {
  background-color: var(--color3);
  color: white;
}

.question_input:checked + .question_label i,
.question_label p {
  color: white;
}

.question_input {
  visibility: hidden;
}

/* Remarks */
.question_remarks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
}
.question_remarks .remarks {
  color: var(--color4);
  font-size: 14px;
}

.question_remarks_textInput {
  border: none;
  outline: none;
  padding-left: 5px;
  border-bottom: 1px solid var(--color4);
  width: -webkit-fill-available;
}

/* Dropdown */
.question_others {
  margin-bottom: 24px;
  margin-top: 16px;
}

.question_dropdown {
  display: flex;
  justify-content: space-between;
}

.question_dropdown .custom-select {
  font-size: 13px;
  background: #f5f5f5;
  border-radius: 16px;
  color: var(--color4);
  text-align: center;
  width: 140px;
  height: 32px;
  border: none;
}

.question_dropdown .options {
  color: var(--color2);
}

.question_dropdown .btn-group:first-child {
  margin-right: 7px;
}

/* Save button */
.modal_submit {
  display: flex;
  justify-content: center;
}
.modal-body .savebtn {
  width: 104px;
  height: 28px;
  background: rgba(66, 193, 198, 0.75);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 59px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.modal-body .savebtn:hover {
  background: white;
  border: 1px solid rgba(66, 193, 198, 0.75);
  color: rgba(66, 193, 198, 0.75);
}
