<div class='main-body-container d-flex flex-column justify-content-center align-items-center'>
    <h1 id='success-title'>Success</h1>
    <button id="restart-btn" type="button" href='/'><a href='/' class='nostyle'>Back to Index Page</a></button>
</div>
<div style='height: 100px;'></div>