
<body>

    <div class="card login_card">
        <div class="card2">
    

             <div class="signin">Sign In</div>
             <form action="login" method="post">
                <input type="text" id="Uname" name="username" placeholder="username"><br>
                <input type="password" id="Pword" name="password" placeholder="password">
          
             {{!-- <div class="forgotp">
   
                 <div>Forgot  <a href="url">Username/Password?</a></div>
               
             </div> --}}
             <div class="card1_2">
                <div>Member</div>
                <label class="switch">
                    <input type="checkbox" name="host" value="true">
                    <span class="slider round" data-on="Yes" data-off="No"></span>
                </label>
                <div>Host</div>
            </div>

           
            <div class="btnsignin">
             <button type="submit" class="btn btn3">SIGN IN</button>            
               
            </div>
               </form>
        </div>
        <div class="card3">
            <div class="create">Create Account</div>
            <div class="joinc">
            <a  class="btn btn1" href="/signup">I want to join a course</a>
            </div>
            <div class="hostc">
            <a  class="btn btn2" href="/shopsignup">I want to host a course</a>
            </div>
        </div>
    
    </div>
   
 {{#if error}}
    <h3 class="login_error">{{error}}</h3>
    {{/if}}
    
</body>
