<body>
    <form action="/shopsignup" method="post" class="form2">
        <div class="container2">
            <div class="BeourH">Be Our Host</div>
            <div class="row">
            
            <div class="col-sm-6 row2">
                <label for="username">Email</label><br>
                <input type="email" id="email2" name="username">
            </div>
            <div class="col-sm-6 row2">
                <label for="password">Password</label><br>
                <input type="password" id="password2" name="password">
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-6 row3">
                <label for="CompanyN">Company Name</label><br>
                <input type="text" id="CompanyN" name="CompanyN">
            </div>
            <div class="col-sm-6 row3">
                <label for="Tel2">Tel</label><br>
                <input type="tel" id="Tel2" name="Tel2">
            </div>
        </div>
        
        </div>
        <input type="submit" class="btn btn-warning" value="Submit">
    </form>
    
</body>