<body>
    <form action="/signup" method="post" class="form1">
        <div class="dbox">
            <div class="beour">Be Our Member</div>
            <div class="row d1">
                <div class="col-lg-6">
                    <label for="username">Email</label><br>
                    <input type="email" id="email" name="username">
                </div>
                <div class="col-lg-6">
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password">
                </div>
            </div>
           <div class="row">
            <div class="col-lg-6">
                <label for="fname">First Name</label><br>
                <input type="text" id="fname" name="fname">
            </div>
            <div class="col-lg-6">
                <label for="sname">Surname</label><br>
                <input type="text" id="sname" name="sname">
            </div>
           </div>
           <div class="row">
            <div class="col-lg-6">
                <label for="uname">Username</label><br>
                <input type="text" id="uname" name="uname">
            </div>
            <div class="col-lg-6">
                <label for="tel">Tel</label><br>
                <input type="tel" id="tel" name="tel">
            </div>
           </div>
           <div class="row">
            <div class="col-lg-6">
                <label for="dob">Date of Birth</label><br>
                <input type="date" id="dob" name="dob">
            </div>
            <div class="col-lg-6">
                <div>Choose your Sex:</div>
                <input type="radio" value="M" id="sexb" name="sex">Male  
                <input type="radio" value="F" id="sexg" name="sex">   Female
            </div>
           </div>
        </div>
        <input type="submit" class="btn signupSubmit" value="Submit">

      
      </form>
</body>