<section id='section1'>
        <div class='jumbotron-fluid d-flex align-items-center justify-content-center'>
            <div class='slogan container-fluid'>
                <h1>LEARN
                    <br>HOBBIES<br>FUN<br>ENJOY
                </h1>
                <a href='#section3'><button class='explore'>Explore More</button></a>
            </div>
        </div>
</section>


{{!-- filter form --}}
<section id='filter-form'>
        <div class='filter_form_container d-flex justify-content-center'>
    <div class='filter_form container'>
    <h4 class='filter_title'>Filters</h4>
        <form class="filter d-flex flex-column" id="filter_form">
{{!-- Category Filter --}}
             <div class="category_container">
                <p class='filters'>Class Category:</p>
                <button type="button" class="category_btn btn " data-bs-toggle="button" autocomplete="off" value="Sports">Sports</button>
                <button type="button" class="category_btn btn " data-bs-toggle="button" autocomplete="off" value="School Subjects">School subjects</button>
                <button type="button" class="category_btn btn " data-bs-toggle="button" autocomplete="off" value="Art">Art</button>
                <button type="button" class="category_btn btn " data-bs-toggle="button" autocomplete="off" value="Leisure">Leisure</button>
            </div>

{{!-- Age Filter --}}
        <div class="age_container" role="group" aria-label="Basic radio toggle button group">
            <p class='filters'>Age Group:</p>
                <input type="radio" class="btn-check age_btn" name="age" value="kids" id="btnradio1" autocomplete="off">
                <label class="age_label" for="btnradio1" >Kids (0-12)</label>

                <input type="radio" class="btn-check age_btn" name="age" value="junior" id="btnradio2" autocomplete="off">
                <label class="age_label" for="btnradio2">Junior (13-17)</label>

                <input type="radio" class="btn-check age_btn" name="age" value="adults" id="btnradio3" autocomplete="off">
                <label class="age_label" for="btnradio3">Adults (18-65)</label>

                <input type="radio" class="btn-check age_btn" name="age" value="senior" id="btnradio4" autocomplete="off">
                <label class="age_label" for="btnradio4">Senior (65+)</label>
        </div>
{{!-- Price Filter --}}
            <div class='price_container'>
                
                <div class='d-flex'>
                    <p class='filters'>Price:</p>
                    <div class='d-flex'>
                        Min<input type="text" name="price" class="sliderValue" data-index="0" value="50" />
                        Max<input type="text" name="price" class="sliderValue" data-index="1" value="350" />
                        <div class='slider_container'>
                        <div id="slider"></div>
                        </div>
                    </div>
                </div>
            </div>
{{!-- Submit button --}}
        <input type="submit" class='filter_submit_button' value="Filter Classes"/>
        </form>
    </div>
        <hr>
    </div>
</section>
    

    <section id='section3'>
        <div class='courses container-fluid '>
            <div class='row d-flex justify-content-around' id="All_course_card">
               
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

