    <section id='section1'>
        <div class='myCourse container-fluid '>
            <div class='title'><i class="book_icon fas fa-book"></i>&nbsp;&nbsp;My Courses
                <hr>
            </div>
            <div class='row block d-flex justify-content-around' id='mycourse_info_card'>
                {{!-- content see user_frontend.js --}}
            </div>


            <!-- My favourites -->
            <div class='title'><i class="heart_icon_title fas fa-heart"></i>&nbsp;&nbsp;My Favorites
                <hr>
            </div>
            <div class='row block d-flex justify-content-around' id='myfav_course_card'>
            {{!-- content see user_frontend.js --}}
            </div>
        </div>
    </section>

